* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
:root {
  --gray-color: #eee;
}
a {
  text-decoration: none;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
